{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyShow Clone</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap" />
    <link rel="stylesheet" href="{% static 'kanthara.css' %}">


<body>
 <div class="first_nav">
        <nav>
            <div class="logo">
                <img src="https://in.bmscdn.com/bmsin/new/BMS_logo_new.png" alt="BookMyShow Logo" width="100px">
            </div>

            <form class="search-bar" action="/search" method="get">
                <span class="material-symbols-outlined">search</span>
                <input type="search" placeholder="Search for Movies, Events, Plays, Sports and Activities">
            </form>

            <div class="location">Kacheripady, Ernakulam</div>



            <button class="signin-btn">Sign in</button>

            <span class="material-symbols-outlined menu-icon">menu</span>
        </nav>
    </div>

    <div class="over">
      <div class="poster-container">
        <img class="bahubali" src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/kantara-a-legend-chapter-1-et00377351-1760336092.jpg" />
        <div class="trailer-badge">▶ Trailers (14)</div>
        <div class="cinema-badge">In cinemas</div>
      </div>
      <div class="info">
        <div class="share-btn">
          <span class="share-icon">⚭</span>
          <span>Share</span>
        </div>
        <h1 class="bahu">Kantara: A Legend Chapter-1</h1>
        <div class="rate">
          ★ 9.3/10 (444k+ Votes) > <button class="button">Rate now</button>
        </div>
        <div class="dolby">2D, 4DX, IMAX 2D, ICE, DOLBY CINEMA 2D</div>
        <div class="lang">Kannada, Tamil, English, Malayalam, Hindi, Telugu</div>
        <h4 class="time">
          2h 48m • Adventure, Drama, Thriller • UA16+ • 2 Oct, 2025
        </h4>
        <a class="click" href="#" target="_blank">
          <span class="link">Book tickets</span>
        </a>
      </div>
    </div>
  </body>
</html>
